# =====================
# Maven
# =====================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# =====================
# Java
# =====================
*.class
*.jar
*.war
*.ear
*.log

# =====================
# IntelliJ IDEA
# =====================
.idea/
*.iml
*.iws
*.ipr
out/

# =====================
# Eclipse
# =====================
.classpath
.project
.settings/
bin/

# =====================
# VS Code
# =====================
.vscode/

# =====================
# Sistema Operacional
# =====================
.DS_Store
Thumbs.db
